
@{
    ViewData["Title"] = "OrderSuccessful";
}

<h1>Your order was successfully created.</h1>
<table class="table">
    <thead>
        <tr>
            <th>
               Product ID
            </th>
            <th>
                Quantity
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var order in ViewBag.Order.LineItems)
        {
            <tr>
                <td>
                    @order.ProductId
                </td>
                <td>
                    @order.Quantity
                </td>

            </tr>

        }
    </tbody>
</table>
<p>You bought total of @ViewBag.ItemsBought items.</p>
<p>Your Order Total was : $ @ViewBag.Order.Total</p>
<p> We will ship your order next year. Have a good rest of the year.!!!!!!!</p>

<div>
    <a asp-action="Index">Back to List</a>
</div>