
@{
    ViewData["Title"] = "OrderSuccessful";
}

<h1>Your order was successfully created.</h1>
<p>You bought @ViewBag.ItemsBought items.</p>
<p>Your Order Total is : $ @ViewBag.Order.Total</p>
<p> We will ship your order next year. Have a good rest of the year.!!!!!!!</p>

<div>
    <a asp-action="Index">Back to List</a>
</div>