@model IEnumerable<Models.Order>

@{
    ViewData["Title"] = "OrderByOldest";
}

<h1>Order By Oldest</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Date of Order
            </th>
            <th>
                Total
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var order in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => order.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => order.Total)
                </td>

            </tr>

        }
    </tbody>
</table>


