@model Models.Customer;

@{
    ViewData["Title"] = "Profile Menu";
}
<h1>@ViewData["Title"]</h1>

<p>Welcome to you profile @ViewBag.Customer.Name </p>

@foreach (var order in ViewBag.Customer.Orders)
{
    <p>@order</p>
}