@model IEnumerable<WebUI.Models.StoreVM>

@{
    ViewData["Title"] = "Stores";
}

<h1>All available Stores</h1>

@foreach (var item in Model)
{
    <div class="card-block">
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
            <p class="card-text"> @Html.DisplayFor(modelItem => item.Address)</p>
            <a class="btn btn-dark" asp-area="" asp-controller="Home" asp-action="Inventories" asp-route-storeId="@item.Id" >Select</a>
        </div>
    </div>
  
}
